* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header,
.hero {
    background-color: #1F2937;
}

section {
    padding: 128px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding: 0 128px;
    color: #F9FAF8;
}

.title {
    margin: 8px 0px;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 16px;
    padding: 8px;
}

.nav {
    color: #bbbcbe;
}

.welcome-container {
    display: flex;
    margin: 8px;
    justify-content: space-between;
}

.welcome {
    max-width: 400px;
}

.welcome-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.welcome-info {
    font-size: 18px;
    color: #bbbcbe;
}

.sign-up {
    color: #E5E7EB;
    background-color: #3882F6;
    margin-top: 8px;
    padding: 8px 32px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
}

.welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: gray;
}

.placeholder-text {
    color: #F9FAF8;
}

.info-container {
    text-align: center;
    padding: 32px 128px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 16px;
}

.info {
    max-width: 150px;
}

.info-image {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 64px;
}

.info-text {
    color: #bbbebf;
    margin-top: 8px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thor-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.author {
    text-align: end;
    color: #1F2937;
    font-size: 16px;
    font-weight: 800;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
}

.call-text {
    color: #F9FAF8;
}

.call-header {
    font-size: 18px;
    font-weight: 800;
}

.call-sign-up {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 8px 32px;
    color: #E5E7EB;
    font-weight: 800;
}

.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #E5E7EB;
    font-size: 16px;
}